<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Spotify">
    <meta name="author" content="Niels MESURE">
        <title>{% block title %}Spotify{% endblock %}</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js.map') }}"></script>
    <link href="{{ asset('assets/css/spotify.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/spotify.js') }}"></script>
    <link href="{{ asset('icons/spotify.ico') }}" rel="icon">


    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
